#include "Settings-Staging.xcconfig"

// Building & Deployment
ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO
ENABLE_TESTABILITY = YES

// Linking & Code generation
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) "DEBUG=1" $(STAGING_GCC_PREPROCESSOR_DEFINITIONS)

// Swift
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) "DEBUG" $(STAGING_SWIFT_ACTIVE_COMPILATION_CONDITIONS)
